<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snid.safeway"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.snid.safeway.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.snid.safeway.permission.C2D_MESSAGE" />

    <application
        android:name="com.snid.safeway.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/safeway"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.snid.safeway.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.snid.safeway.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.snid.safeway" />
            </intent-filter>
        </receiver>

        <service android:name="com.snid.safeway.GcmIntentService" />

        <activity
            android:name="com.snid.safeway.AuthorizeActivity"
            android:label="@string/title_activity_authorize" >
        </activity>
        <activity
            android:name="com.snid.safeway.MessagesActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_messages" >
        </activity>
        <activity
            android:name="com.snid.safeway.HistoriesActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.snid.safeway.NoticesActivity"
            android:label="@string/title_activity_notices" >
        </activity>
        <activity
            android:name="com.snid.safeway.NoticeDetailActivity"
            android:label="@string/title_activity_notice_detail" >
        </activity>
        <activity
            android:name="com.snid.safeway.ParentsMainActivity"
            android:label="@string/title_activity_parents_main" >
        </activity>
        <activity
            android:name="com.snid.safeway.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
    </application>

</manifest>
